.movieList{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Palanquin Dark', sans-serif;
    justify-content: center;
}

.title{
    font-size: 15px;
    line-height: 20px;
    margin:  0 0 20px 0;
    padding: 0;
}

.poster{
    width: 200px;
}

.movieItem{
    position: relative;
    width: 200px;
    margin: 10px;
}
