@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.movieList{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Palanquin Dark', sans-serif;
    justify-content: center;
}

.title{
    font-size: 15px;
    line-height: 20px;
    margin:  0 0 20px 0;
    padding: 0;
}

.poster{
    width: 200px;
}

.movieItem{
    position: relative;
    width: 200px;
    margin: 10px;
}

.material-symbols-outlined {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgb(21, 0, 255);
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
  }